.centered.six.homepage-main
    .row
        .two-and-a-half.columns.first
            %h2.time.mega
                <span></span>Apr 14

        .one.column.first
            %h2.time
                @

        .two-and-a-half.columns.first
            %h2.time.mega
                <span></span>6:30
                %small
                    pm

.centered.seven.homepage-main
    .row
        %p.next-meeting
            %strong Next Meeting:
            <a href="http://groups.google.com/group/sbonrails/browse_thread/thread/a6987831f0a620ea">Git Live!</a> with SBonRails by <a href="http://www.linkedin.com/pub/bob-smith/0/495/344">Bob Smith</a> & <a href="http://josh-carver.com">Joshua Carver</a>
            %span at Appfolio


%hr

