%h3
    Events
    %small
        = link_to "<span>Add +</span>", new_event_path, :class => 'small blue button', :id => 'addEvent' if current_user

%ul.homepage-list#events
    - @events.each do |event|
        %li
            = event.name + " - "
            = event.the_date.strftime('%b %d')

